@charset "UTF-8";
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* header .fa-ellipsis{
    position: absolute;
    top: 0rem;
    right: 0rem;
    font-size: 2rem;
} */

header .fa-ellipsis{
    width: 100%;
    text-align: right;
    font-size: 2rem;
    padding: 0 .1rem;
}
header .photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

header .title{
    text-align: center;
    font-family: var(--font02);
    font-size: 1.8rem;
    transition: font-size .25s;
}

header .information{
    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
}

header .information li{
    margin: .5rem;
    font-size: 1.125rem;
}

header .information li i{
    margin-right: .5rem;
    color: #6b58db;
}
header .information li a{
    color: white;
    text-decoration: none;
}
header .information li a:hover{
    text-decoration: underline;
}

@media screen and (min-width: 768px){

    header{
        display: grid;
        grid-template-areas: 
        "photo fa-ellipsis"
        "photo title" 
        "photo information";
    }
    header .photo{
        grid-area: photo;
        margin: 0 auto;
    }
    header .title{
        grid-area: title;
        text-align: left;
        max-width: 200px;
        margin-top: 0;
        font-size: 2rem;
    }
    header .information{
        grid-area: information;
    }
    header .fa-ellipsis{
        grid-area: fa-ellipsis;
    }
}