@charset "UTF-8";

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.portfolio li i, h5{
    font-weight: 700;
    font-size: 1.2rem;
    display: inline-block
}

/* link do projeto */
.portfolio li p{
    margin-top: .5rem;
    font-size: 1rem;
}

.portfolio li p i{
    font-size: .75rem;
}

.portfolio li p a{
    color: white;
    font-weight: 350;
    text-decoration: none;
}
.portfolio li p a:hover{
    text-decoration: underline;
}

@media screen and (min-width: 768px){
    .portfolio{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}